.blog-list-container {
    padding-top: 60px;
}

.blog-container {
    padding-top: 60px;


}

/* BlogPostPage.css */
.blog-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.blog-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.blog-content {
    line-height: 1.6;
    color: #444;
}

.blog-tags {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #eee;
}

.blog-tags strong {
    font-weight: bold;
    color: #555;
}

.blog-tags span {
    color: #0070f3;
    margin-right: 0.5rem;
}

.header {
    margin-bottom: 20px;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
    color: var(--primary-color);
    text-transform: uppercase;
}

.postList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.postContent {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    transition: background-color 0.3s;
}

.postContent:hover {
    background-color: var(--primary-color);
}

.thumbnail {
    flex-shrink: 0;
}

.textContent {
    flex-grow: 1;
}

.postTitle {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.postDescription {
    margin: 0 0 10px 0;
}

.postMeta {
    font-size: 14px;
    color: var(--text);
}

.postDate,
.postTags {
    margin: 0;
}