@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --primary-color: #ffae36;
  /* Blue */
  --secondary-color: #2ecc71;
  /* Green */
  --accent-color: #17a2b8;
  --accent-color-dark: #067897;
  /* Red */
  --background-color: #f8f8f8;
  /* Light Grey */
  --container-color: #F5F5F5;
  --text: #131313;
  /* Dark Grey */


  --font-size-h1: 2.5rem;
  /* 40px */
  --font-size-h2: 2rem;
  /* 32px */
  --font-size-h3: 1.75rem;
  /* 28px */
  --font-size-h4: 1.5rem;
  /* 24px */
  --font-size-h5: 1.25rem;
  /* 20px */
  --font-size-h6: 1rem;
  /* 16px */
  --font-size-p: 1rem;
  /* 16px */
}

body {
  margin: 0;
  background-color: var(--background-color) !important;


}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);

}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

p {
  font-size: var(--font-size-p);
  color: var(--text);

}

li {
  color: var(--text);
  font-size: var(--font-size-p);


}

.icon-style {
  color: var(--text);
  /* filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8)); */
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.icon-style:hover {
  color: var(--primary-color);
  /* Change to yellow */
  transform: translateY(-5px);
  /* Shift up slightly */
}

.container-divider {
  height: 2px;
  width: 80%;
  background: var(--primary);
  background: linear-gradient(90deg, var(--background-color), var(--primary-color), var(--background-color));
  margin: 15px auto;
}

.section-heading {
  color: var(--primary-color);
  font-weight: 600;
}

.section-subheading {
  color: var(--text);
  opacity: 0.6;
  font-weight: 200;
}